<div class="back">
  <header>
    <a href="https://github.com/VictorMuniz7" target="_blank" id="git"><i class="fa-brands fa-github"></i></a>
    <h1 class="gradient">Flip Image</h1>
    <a href="https://www.linkedin.com/in/victor-muniz-236842267/" target="_blank" id="link"><i class="fa-brands fa-linkedin"></i></a>
  </header>

  <div class="description">
    <p>Click on the arrows to flip the image</p>
  </div>

  <div class="container">
    <div class="outside-button outside-button-up outside-button-up-left" (click)="flip('image1', 'up')">
      <p>▲</p>
    </div>
    <div class="outside-button outside-button-up outside-button-up-right" (click)="flip('image2', 'up')">
      <p>▲</p>
    </div>

    <div class="outside-button outside-button-right outside-button-right-up" (click)="flip('image2', 'right')">
      <p>►</p>
    </div>
    <div class="outside-button outside-button-right outside-button-right-bottom" (click)="flip('image4', 'right')">
      <p>►</p>
    </div>

    <div class="outside-button outside-button-bottom outside-button-bottom-right" (click)="flip('image4', 'down')">
      <p>▼</p>
    </div>
    <div class="outside-button outside-button-bottom outside-button-bottom-left"(click)="flip('image3', 'down')">
      <p>▼</p>
    </div>

    <div class="outside-button outside-button-left outside-button-left-up" (click)="flip('image1', 'left')">
      <p>◄</p>
    </div>
    <div class="outside-button outside-button-left outside-button-left-bottom"(click)="flip('image3', 'left')">
      <p>◄</p>
    </div>

    <div class="inside-button inside-button-horizontal" id="inside-button-left">
      <p class="arrow arrow-top" (click)="flip('image1', 'down')" >▼</p>
      <span id="horizontal-line"></span>
      <p class="arrow arrow-bottom" (click)="flip('image3', 'up')" >▲</p>
    </div>
    <div class="inside-button inside-button-horizontal" id="inside-button-right">
      <p class="arrow arrow-top" (click)="flip('image2', 'down')">▼</p>
      <span id="horizontal-line"></span>
      <p class="arrow arrow-bottom" (click)="flip('image4', 'up')">▲</p>
    </div>
    <div class="inside-button inside-button-vertical" id="inside-button-down">
      <p class="arrow arrow-left"(click)="flip('image3', 'right')" >►</p>
      <span id="vertical-line"></span>
      <p class="arrow arrow-right"(click)="flip('image4', 'left')" >◄</p>
    </div>
    <div class="inside-button inside-button-vertical" id="inside-button-up">
      <p class="arrow arrow-left" (click)="flip('image1', 'right')">►</p>
      <span id="vertical-line"></span>
      <p class="arrow arrow-right"(click)="flip('image2', 'left')" >◄</p>
    </div>

    <div class="img-div">
      <img src="./assets/image.png" alt="Beautiful clock image" class="image" id="image1">
    </div>
    <div class="img-div">
      <img src="./assets/image.png" alt="Beautiful clock image" class="image" id="image2" >
    </div>
    <div class="img-div">
      <img src="./assets/image.png" alt="Beautiful clock image" class="image" id="image3" >
    </div>
    <div class="img-div">
      <img src="./assets/image.png" alt="Beautiful clock image" class="image" id="image4" >
    </div>

  </div>

  <div class="url-div">
    <input type="text" id="url-input" placeholder="Enter the URL to change default image" #newImg>
    <button (click)="changeImg(newImg.value)">Change</button>
  </div>

</div>
